*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: black; 
     
}
h1{
    white-space: nowrap;
    color: white;
    font-family: sans-serif;

}


a:hover{
    background-color: white;
}
.write-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 150px;
       
}
.first{
    background-color: green;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    
}
.button>:hover{
    background-color: red;
}
.second{
   color: white; 
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    background-color: green;
}
 img{
 border-radius: 50%;
 margin-top: 20px;
 width: 400px; 
 height: 400px;
 
}


/* h3{
    margin-left: 200px;
margin-bottom: 30px;
font-size: 30px;
} */
.bag-section{
    color: white;
    width: 500px;
    margin: 70px auto;
    text-align: center;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     gap: 90px;
    margin-top: 40px; 
    margin-right: 100px;
    margin-left: 100px;
    align-items: center;
    
}
 .box{
    display: flex ;
     flex-direction: column;
    align-items: center;
    gap: 10px; 
    color: white;
    
} 
.bigcircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallcircle{
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color: green;
    
}


/* What i do section */
#whatido >h2{
text-align: center;
color: white;
margin: 30px 0;
margin-top: 50px;
}
/* #whatido{
    margin-left: 100px;
} */

/* h3{
    margin-left:400px;
}  */
 .general{
    display: grid;
    padding: 0 150px;
    grid-template-columns: repeat(3, 1fr);
      /* width: 500px; */
      margin: auto;
    gap: 70px;
     align-items: center;
     color: white; 
      justify-content: center; 
     
}

/*  general */
 .general-box{
    font-size: 30px;
    background: grey;
    display: flex;
    /* width: 400px  ; */
     padding: 20px;
     height: 200px;
     text-transform: capitalize;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    
}
.general-box>.photos{
    width: 50px;
    height: auto;
}


/* Ends!!! */
.sec-box{
    width: 50px;
    margin: auto;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: -50px;
}
.one{
    margin-top: 50px;
}
.two{
    margin-top: 50px;
}
.three{
    margin-top: 50px;
}
/* #skills{

    
}  */
.raw{
  color: white;  
  margin-top: 40px;
  font-size: 29px;
 text-align: center;
}
.main-box{
    /* height: 90px; */
    width: 800px;
    background-color: grey;
    /* margin-left: 250px; */
     margin: auto;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     justify-content: center;
     gap: 50px;
     padding: 30px;
     font-size: 20px;
     margin-top: 50px;
}
.para{
    color: green;
}
form{
  width: 600px;
  margin: auto;  
}
.zane-tax{
    color: white;
    font-size: 29px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.form-input{
    display: flex;
    gap: 10px;
    align-items: center;
}
input[type=text]{
    padding: 10px 15px;
    /* margin-left: 249px; */
    margin-top: 40px;
    width: 300px;
    border: none;
    background-color: black;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid whitesmoke;
    
}


textarea{
    height: 150px;
     width: 100%; 
    background-color: black;
    color: grey;
    /* margin-left: 249px; */
    margin-top: 50px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
 .main-button{
    /* margin-left: 600px; */
    margin-top: 30px;
    background-color: green;
     height: 40px;
     border: none;
      width: 300px; 
     color: white;
     cursor: pointer;
}

.kodak{
       width: 200px;
     margin: auto;
    color: grey;
    margin-top: 30px;
}
@media only screen and (max-width: 600px){
    .write-up{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        padding: 10px;
    }
     .nav-bar{
       flex-direction: column;    
     margin-left: 60px;
     gap: 30px;
     color: white;
     
    
    }
    .ul-nav a{
        color: white;
    } 
    .bag-section{
        
    width:100%;
    margin: 60px auto;
    padding: 10px;
    }
   
    .box-container{
        margin: 10px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .box{
        width: 100%;
    }
    .general{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%; 
         margin-top: 50px;  
         padding: 20px;
        
    }
    .main-box{
        grid-template-columns: repeat(1, 1fr);
          width: 100%;
          text-align: center;
         /* gap: 50PX; */
         
    }
    form{
      width: 100%;
      margin: 50px auto;
      padding: 10px;
    }
    .form-input{
flex-direction: column;
    }
    input{
        width: 100%;
    }
    .kodak{
        width: 200px;
        margin: auto;
       color: grey;
       margin-top: 30px;
    }
    
    }